[submodule "Next"]
	path = Next
	url = https://github.com/juanCarlosGarciaLDG/Next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/juanCarlosGarciaLDG/Angular.git
[submodule "Express"]
	path = Express
	url = https://github.com/juanCarlosGarciaLDG/Express.git
