<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
</head>
<body>
    <h1>Editar producto</h1>
    
    <form action="/guardar" method="post">
        <input type="text" name="nombre" value="{{ producto['nombre'] }}">
        <input type="text" name="precio" value="{{ producto['precio'] }}">
        <input type="hidden" name="id" value="{{ producto['id'] }}">
        
    <button type="submit">Guardar</button>
</form>
</body>
</html>