<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Productos</h1>
    <form action="/crear" method="POST">
        <input type="text" name="nombre" placeholder="nombre" required>
        <input type="text" name="precio" placeholder="precio" required>
        <input type="submit" value="crear">
    </form>

    {% for producto in productos %}
        <li>{{producto['nombre']}}: ${{producto['precio']}}
        <a href="/editar/{{ producto['id']}}">Editar</a>
        <a href="/eliminar/{{ producto['id']}}" onclick="return confirm('¿seguro que deseas eliminar? ')">eliminar</a>
    {% endfor %}
</li>
</body>
</html>